:root{
    --primary-color: #FEDC00;
    --icon-color:#252525;


}

html{
scroll-behavior: smooth;

}

body{
    display: grid;
    grid-template-areas: "content";
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    background-color: #000;

}
header{
    grid-area: content;
    place-self: start center;
    /*  */
    width: 100%;
    
        /* mechwndono eixo z para ficar por cima*/
    z-index: 666;
    /* tamanho maximo */
    max-width: 1200px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
main {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voltar {
    position: fixed;
    right: 16px;
    bottom: 16px;
    display: grid;
    place-content: center;
    font-size: 2.5rem;
    transition: all .5s;
}

.voltar:hover {
    color: var(--primary-color);
}
section{
    height: 100vh;
   
}

.sobre-mim{
    
}
.home{
    background-color: lightpink;

}





footer {
   
    width: 100%;
    height: 50px;
    grid-area: content;
    place-self: end center;
    display: grid;
    place-content: center;
    border-top: 2px solid #fff;
    font-size: .75rem;
    
   

}